MONGODB_URI=
EMAIL_USER=
APP_PASSWORD=
GEMINI_API_KEY=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SALT_ROUNDS=11
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
GITHUB_SECRET_TOKEN=
NODE_ENV=development
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_LOGO_DEV_KEY=
ROLE=test
PRIVATE_KEY_LENGTH=21